body { 
  	background-color: black;
	font-family: 'Rajdhani', sans-serif;
	height: 100%;
}

p, .links-p {
    	font-size: 1.25rem;
}

.progress {
	height: 4px;
}

.progress-bar {
	background-color: #ff4040;
}

.bg-dark, .table-dark {
 	background:
    		radial-gradient(black 15%, transparent 16%) 0 0,
    		radial-gradient(black 15%, transparent 16%) 8px 8px,
    		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  	background-color:rgb(18, 19, 28)!important;
  	background-size:16px 16px;
}

span.ptwidget {
        font-size:xx-small;
}

img.ptwidget {
        vertical-align:middle;
        height: 20px;
        width: 20px;
}

a.ptwidget {
        color: #ffffff;
}

.display-xl {
	font-size: xx-large;
	color: coral;
	font-weight: bolder;
	display: block;
	white-space: nowrap;
}

.display-xl:hover {
	color: #ff4040;
}

#sel1 {
	/* border: 0; */
	background-color: rgb(18, 19, 28)!important;
    	font-size: xx-large;
    	color: coral;
    	font-weight: bolder;
	display: block;
	white-space: nowrap;
	margin: 2px auto;
}

#sel1:hover {
       color: #ff4040;
}

.display-xl-c {
	font-size: xx-large;
	color: coral;
	font-weight: bolder;
	display: inline-block;
	white-space: nowrap;
}

.display-xl-c:hover {
	color: #ff4040;
}

.dont-break-out {
  	overflow-wrap: break-word;
  	word-wrap: break-word;
  	word-break: break-word;
}

.color-red {
	color: #F08080;		
	font-weight: bolder;
}

.anchor {
  	display: block;
  	height: 50px; /*same height as header*/
  	margin-top: -50px; /*same height as header*/
  	visibility: hidden;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgb(23, 191, 99);
}

.carousel-indicators li, .carousel-control-prev-icon, .carousel-control-next-icon {
	background-color: #ff4040!important;
}

.carousel-caption {
	color: #ff4040!important;
}

#counter {
  font-size: 175%;
}

#counter span {
  font-size: 50%;
}

@media screen and (max-width: 992px) {
  .mlink-hide {
    display: none;
  }

  .navbar-nav li {
    margin-bottom: 1rem;
  }

  #counter {
    font-size: 125%;
  }

  #counter span {
    font-size: 50%;
  }
}

/*
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ff4040;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
*/
