@media screen and (max-width: 568px) {
    	.display-xl-c {
		display: block;
		white-space: nowrap;
	}
	
	h2 {
		font-size: 1.375rem;
	}
}

body { 
  	background-color: rgb(10, 10, 20);
	font-family: 'Rajdhani', sans-serif;
}

p, .links-p {
    	font-size: 1.25rem;
}

.progress {
	height: 3px;
}

.progress-bar {
	background-color: #ff4040;
}

.bg-dark, .table-dark {
	background-color: rgb(18, 19, 28)!important;
}

span.ptwidget {
        font-size:xx-small;
}

img.ptwidget {
        vertical-align:middle;
        height: 20px;
        width: 20px;
}

a.ptwidget {
        color: #ffffff;
}

.display-xl {
	font-size: xx-large;
	color: coral;
	font-weight: bolder;
	display: block;
	white-space: nowrap;
}

.display-xl:hover {
	color: #ff4040;
}

#sel1 {
	/* border: 0; */
	background-color: rgb(18, 19, 28)!important;
    	font-size: xx-large;
    	color: coral;
    	font-weight: bolder;
	display: block;
	white-space: nowrap;
	margin: 2px auto;
}

#sel1:hover {
       color: #ff4040;
}

.display-xl-c {
	font-size: xx-large;
	color: coral;
	font-weight: bolder;
}

.display-xl-c:hover {
	color: #ff4040;
}

.dont-break-out {
  	overflow-wrap: break-word;
  	word-wrap: break-word;
  	word-break: break-word;
}

.color-red {
	color: #F08080;		
	font-weight: bolder;
}

.anchor {
  	display: block;
  	height: 50px; /*same height as header*/
  	margin-top: -50px; /*same height as header*/
  	visibility: hidden;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgb(23, 191, 99);
}

/*
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ff4040;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
*/
