body {
   background-color: rgb(18, 19, 38);
}

.display-xl {
   font-size: x-large;
   color: #FF2400;
}

span.ptwidget {
   font-size: xx-small;
}

img.ptwidget {
   vertical-align: middle;
   height: 20px;
   width: 20px;
}

a.ptwidget {
   color: #ffffff;
}




