/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



body { 
      background-color: rgb(18, 19, 38);
}

span.ptwidget {
        font-size:xx-small;
}

img.ptwidget {
        vertical-align:middle;
        height: 20px;
        width: 20px;
}

a.ptwidget {
        color: #ffffff;
}




